.containerMargin {
    margin-left: 40px;
    color: 'pink';
     background-color: rgba(243, 255, 237, 0.86);

}

.list1, .list2 {
    margin: 10px;
    padding: 10px;
   
}

.list1 {
    background-color: rgba(161, 225, 255, 1);
}

.list2 {
    background-color: rgba(255, 143, 96, 1);
}
.present-img-container{
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 143, 96, 1); 
    margin-right: 90px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
    background-color: bisque;
}

button {
    background-color: rgba(255, 242, 128, 1) !important;
    color: black !important;
    font-size: 3rem !important;
    border-radius: 12px;
    font-weight: 100;
    
}
