.containerMargin {
    margin-left: 40px;
    color: 'pink';

}

.lists {
    background-color: #0ABAB5;
    margin: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
}

button {
    background: url('../assets/sparkleBackground.jpeg') no-repeat;
    color: black !important;
    font-size: 3rem !important;
}
