
$comfortaa-font: "Comfortaa", cursive;

.App {
  font-family: $comfortaa-font;
}


.row {
  margin-right: 0px;
}

button {
  background: url('../assets/sparkle.jpeg') no-repeat;
  color: black !important;
  font-size: 3rem !important;
  border-radius: 12px;
  font-weight: bold;
  border-color: goldenrod;
}